*{
    top: 0;
    margin: 0;
    background-color: rgb(58, 54, 54);
}
.Titulo{
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: white;
    font-size: 25px;
}
.Video{
    margin-left: 30%;
    margin-left: 30%;
    border: 1px solid rgb(58, 54, 54);
}
.fonte1{
    font-weight: bolder;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 39%;
    border: 1px solid rgb(58, 54, 54);;
}
a{
    color: white;
}
.voltar{
    margin-top: 5%;
    margin-left: 48%;
}