*{
    top: 0;
    margin: 0;
    background-color: rgb(58, 54, 54);
}
.Titulo{
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: white;
    font-size: 25px;
}
.Video1{
    margin-top: 3%;
    margin-left: 31%;
    display: inline-block;
}
.Video2{
    display: inline-block;
    margin-left: 31%;
}
img{
    margin: 5px;
}