*{
    top: 0;
    margin: 0;
}
body{
    background-color: orangered;
}
#Citacao{
    text-align: right;
    margin-right: 50px;
    
}
h2{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul,ol,.P2{
    margin-left: 50px;
}
.Negrito{
    font-weight: bolder;
}
.Centro{
    text-align: center;
}